:root {
  --primary: #FFB711;
  --primary-alt: #cc9411;
  --gray: #737373;
  --dark: #222;
  --dark-alt: #181818;
  --light: #fff;
  --sidebar-width: 300px;
}

*{
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container{
  width: 1280px;
  margin: auto; 
}
@media(max-width:468px){
  .container{
    width: 100%;
  }
}
body{
  background-color: #f1f1f1;
}